<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../../public/js/script.js" defer></script>
    <title>Cronômetro</title>
</head>

<body>
    <div id="container">
        <div id="timer-container">
            <div data-min></div>
            <span>:</span>
            <span>min</span>
            <div data-sec></div>
            <span>:</span>
            <span>sec</span>
            <div data-cen></div>
            <span>cen</span>
        </div>
        <div id="btn-container">
            <button data-play>Iniciar</button>
            <button data-pause>Pausar</button>
            <button data-reset>Resetar</button>
        </div>
    </div>
</body>

</html>